{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="about" id="about">

        <!-- <h1>ajhsgduyfdas</h1> -->
        <div class="about-img">
            <img src="{% static 'images/6.jpeg' %}" alt="" width="" height="">
        </div>

        <div class="about-content">
            <h2 class="heading">  <span>About</span></h2>
            <h3>SK.Managment & services</h3>
            <h4 class="">
                MALEGAON. NASIK. / 9172684361 / 7030001821 /
            </h4>

            <p>hospital DR staff provider urgent requirment for
    ,M.B.B.S / M.D / D.N.B / F.C.P.F Medici,
    ,M.B.B.S / D.G.O / M.S GYN,
    ,M.B.B.S / D.M.R.E / M.D / D.M.R.D Radiologest ,
    ,E.N.T,
    ,B.A.M.S / M.D / Pediatrici,
    ,D.N.B / M.D / Dermatolo,
    ,D.M Cardiolo,
    , M.S.D.N.B Ort,
    ,Genrel Surge,
    ,Neuro Physicion /Neuro Surge,
                Neprologist !
            </p>
            <a href="/" class="btn">Read More</a>
        </div>
</section>


{% endblock %}