{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="contact" id="contact">
	<h2 class="heading">TAKE<span> APPOINTMENT</span></h2>

		{% if msg %}
			<h2 class="text-success">{{msg}}</h2>
		{% endif %}
		
	<form method="POST" action="{% url 'contact' %}">
		{% csrf_token %}
		<div class="input-box">
			
			<input name="full_name" type="text" placeholder="Full Name" value="{{forms.full_name}}" />
			<input name="email" type="email" placeholder="Email Address" value="{{forms.email}}" />
		</div>
		<div class="input-box">
			<input name="phone_number" type="number" placeholder="Mobile Number" value="{{forms.phone_number}}" />
			<input name="email_subject" type="text" placeholder="Email Subject" value="{{forms.email_subject}}" />
		</div>
		<textarea name="Message" cols="30" rows="10" placeholder="Your Message" value="{{forms.Message}}"></textarea>
		<input type="submit" value="Submit" class="btn" />
	</form>
</section>

{% endblock %}