{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="services" id="services">
        <!-- <h2 class="heading"><span> Services</span></h2> -->
        <h2 class="heading">Hospital Joining Job</h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-plus-medical'></i>

                <!-- <h3>Web Development</h3> -->
                <div class="font">
                    <span>
                    <h5>M.B.B.S / M.D / D.N.B / F.C.P.F Medicine</h5>
                    <h5>M.B.B.S / D.G.O / M.S GYNAC</h5>
                    <h5>M.B.B.S / D.M.R.E / M.D / D.M.R.D Radiologest   </h5>
                    <h5>E.N.T  </h5>
                    <h5>B.A.M.S / M.D / Pediatrician</h5>
                    <h5>D.N.B / M.D / Dermatology</h5>
                    <h5>D.M Cardiology</h5>
                    <h5> M.S.D.N.B Ortho</h5>
                    <h5>Genrel Surgeon</h5>
                    <h5>Neuro Physicion /Neuro Surgeon</h5>
                    <h5>Neprologist</h5>
                </span>
                </div>

                <a href="/" class="btn">Red More</a>
            </div>
        </div>
    </section>

{% endblock %}